:root
{
     --bgColor: #ccc;
}
.contai
{
     background-color: var(--bgColor);
}
.form-control
{

}
.point_box
{
     width: 10rem;
     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
     text-align: center;
}
.icon
{
font-size: 20em;
}
.player_total
{

}
.title
{
margin: auto;
}
.header
{
     display: flex;
     background-color: var(--bgColor);
}
